@import '../../../scss/variables.scss';


.start {
    max-width: 1200px;
    margin: 20px auto 20px auto;
    padding: 0 10px 0 10px;

    // .start__icon
    &__icon {
        display: flex;
        justify-content: center;
        margin:0px 0px 20px 0px;
        & img {
            object-fit: cover;
            height: 70px;
            width: auto;
        }
    }

    // .start__title
    &__title {
        font-family: 'Mont';
        font-size: clamp(20px, 1.03vw, 24px);
        font-weight: 600;
        color: var(--color-bark-green__to__color-light-2);
        line-height: 140%;
        text-align: center;
        margin: 0px 0px 20px 0px;
        
    }

    // .start__text
    &__text {
        font-family: 'Mont';
        font-size:  clamp(16px, .7vw, 18px);
        font-weight: 400;
        color: var(--color-bark-green__to__color-light-2);
        line-height: 140%;
        padding: 0px 15px 0px 15px;
        white-space: pre-line;
    }
}

.preparationsWedding_img {
    float: left;
    margin: 0 10px 10px 0;
    
    width: clamp(300px, 16vw, 400px);

    & img {
        border-radius: 10px;

        width: 100%;
        height: 100%;
        object-fit: cover;

        // @media (max-width: $size-768){
        //     width: 100%;
        // }
    }

    @media (max-width: $size-768){
        float: none;
        width: 100%;
        aspect-ratio: 16 / 7;

        display: flex;
        justify-content: center;
    }
}