@import '../../scss/variables.scss';


.blockArticle {

    margin-top: 20px;

    &__img {
        margin: 0 10px 10px 0;
        width: 400px;
        aspect-ratio: 16 / 10;
        float: left;

        @media (max-width: $size-768) {
            float: none;
            width: 100%;
            aspect-ratio: 16 / 5;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    // .blockArticle__text

    &__text {
        margin-top: 20px;

        font-family: 'Mont';
        font-size: clamp(16px, 0.7vw, 18px);
        font-weight: 400;
        color: var(--color-bark-green__to__color-light-2);
        line-height: 140%;
    }
}