@import '../../scss/variables.scss';

.rewiews {
    flex: 1 0 33.33333%;
    padding: 0px 6px 0px 6px;
    @media (max-width: 1200px){
        padding: 0px 10px 10px 10px;
    }

    // .rewiews__body
    &__body {
        height: 100%;
        display:flex;
        flex-direction: column;
        background-color: var(--color-light-2__to__color-black-2);
        border-radius: 10px;
    }

    // .rewiews__picture
    &__picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px auto 20px auto;
        border: 3px solid var(--color-green__to__color-orange);
    }

    // .rewiews__text
    &__text {
        font-family: 'Hand';
        font-size: 24px;
        text-align: center;
        line-height: 130%;
        color: var(--color-bark-green__to__color-light-2);
        padding: 0px 20px 0px 20px;
        @media (max-width: 1200px){
            padding: 0px 10px 0px 10px;
        }
    }

    // .rewiews__name
    &__name {
        color: var(--color-green__to__color-orange);
        font-family: 'Hand';
        font-size: 30px;
        text-align: center;
        margin: 20px 0 20px 0;
    }

    &__link{
        font-family: 'Mont';
        font-size: 15px;
        text-align: center;
        margin:0px 0px 20px 0px;
        color: #83a0de;
    }
}
