.wrapper{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    & img {
        object-fit: cover;
        width: 100%;
    }
}

.anime{
    animation: fade infinite 2s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.loading-img{
    animation: loading-img 1s;
}

@keyframes loading-img {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}