@import '../../scss/variables.scss';

.faq {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    position: relative;
    margin: 0px 0px 80px 0px;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgb(48, 23, 23) url(../../resources/images/praice/6.jpg) center center / cover no-repeat;
        @supports (background: url('../../resources/images/praice/6.webp') 0 0 / cover no-repeat) {
            background-image: url('../../resources/images/praice/6.webp');
        }
        @supports (background: url('../../resources/images/praice/6.avif') 0 0 / cover no-repeat) {
            background-image: url('../../resources/images/praice/6.avif');
        }
        
        z-index: 1;
    }

    // .faq__body
    &__body {
        max-width: 1000px;
        align-items: center;
        position: relative;
        z-index: 5;
    }

    &__h1 { 
        margin-top: 20px;
        padding: 0 10px 0 10px;

        font-family: 'Mont';
        font-size: clamp(16px, 0.71vw, 19px);
        font-weight: 500;
        color: var(--color-light-2);
        text-align: center;
        line-height: 140%;
    }

    // .faq__text
    &__text {
        padding: 20px 10px 20px 10px;
        font-family: 'Mont';
        font-size: clamp(16px, 0.71vw, 19px);
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: var(--color-light-2);
    }

    // .faq__title
    &__title {
        color: var(--color-gold);
        text-align: center;
        font-family: 'Mont';
        font-size: 34px;
        font-weight: 400;
        margin: 0px 0px 20px 0px;
    }
}

.question {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    // .question__line
    &__line {
        width: 100%;
        height: 3px;
        background-color: rgba(170, 140, 89, 0.556);
       //margin: 0px 0px 20px 0px;
    }
    // .question__case
    &__case {
        color: var(--color-gold);
        font-family: 'Mont';
        font-weight: 500;
        text-transform: uppercase;
        font-size: clamp(13px, .665vw, 17px);
        line-height: 140%;
        letter-spacing: 1.0px;

        position: relative;
        padding: 20px 50px 20px 10px;
        &::after {
            content:"";
            position: absolute;
            top: 17px;
            right: 10px;
            height: 30px;
            width: 30px;
            background: url(../../../src/resources/images/praice/arrow.png) 0 0 / cover no-repeat;
            transform: rotate(90deg);
            transition: transform 0.3s ease;
        }
    }
    &__case.rotate::after {
        transform: rotate(0deg);
    }

    // .question__answer
    &__answer {
        height: 0px;
        opacity: 0;
        visibility: hidden;
        font-size: 0px;
        padding: 0 10px 0px 10px;
        
        transition: height 0.5s ease,  
                    opacity 0.5s ease 0.1s,
                    padding 0.5s ease;
    }
    &__answer.rotate {
        color: rgb(230, 230, 230);
        font-family: 'Mont';
        font-size: 16px;
        line-height: 170%;
        padding: 0 10px 20px 10px;
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
}

.border-bottom {
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 10px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom right, rgba(18, 48, 196, 0) 50%, var(--color-light-1__to__color-black-1) 51%);
        height: 70px;
        width: 50%;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom left, rgba(18, 48, 196, 0) 50%, var(--color-light-1__to__color-black-1) 51%);
        height: 70px;
        width: 50%;
    }
}

