.social {
    position: relative;
    overflow: hidden;

    background-color: var(--color-bark-green__to__color-black-3);

    flex: 0 1 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1020px){
        flex: 0 1 100%;
    }

    &__body {
        padding: 30px;
        &::before {
            content: '';
    
            position: absolute;
            bottom: -100px;
            right: 5px;
            width: 350px;
            aspect-ratio: 1 / 1;
    
            background-color: rgba(255, 255, 255, .2);
    
            mask-image: url('../../resources/images/flower/1.png');
            mask-repeat: no-repeat;
            mask-size: contain;
    
            transform: rotateY(180deg);
    
            @media (max-width: 650px){
                mask-image: url('../../resources/images/flower/2.png');
                bottom: -80px;
                right: 20px;

                width: 110px;
                aspect-ratio: 1 / 3;
            }
        }
    }





    // .social__info-block

    &__info-block {
        font-family: 'Mont';
        font-size: clamp(17px, .9vw, 20px);
        font-weight: 400;
        color: var(--color-light-2);
        padding: 10px 0px 10px 0px;
        line-height: 140%;

        @media (max-width: 1020px){
            //text-align: center;
            font-size: 16px;
        }
        & span {
            font-size: clamp(18px, 1vw, 20px);
        }
        & a {
            color: var(--color-light-2);
            font-size: clamp(18px, 0.9vw, 20px);
        }
    }
}