.all-article-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        padding: 0px 10px 0px 10px;
        & img{
            width: 45px;
            height: 50px;
            animation: Orbita2 15s linear infinite;
            @media (max-width: 768px){
                width: 35px;
                height: 40px;
            }
        }
    }

    // .main-article-title__text
    &__text {
        font-family: 'Mont';
        font-size: 24px;
        font-weight: 400;
        color: var(--color-bark-green__to__color-light-2);
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-align: center;
        line-height: 140%;
        @media (max-width: 1910px){
            font-size: calc(18px + 6 * (100vw - 375px) / 1535);
        }
        @media (max-width: 375px){
            font-size: 18px;
        }
    }

    &__top {
        border-top: 2px solid var(--color-green__to__color-orange);
        width: 100%;
        padding: 10px 0px 0px 0px;
    }

    &__bottom {
        border-bottom: 2px solid var(--color-green__to__color-orange);
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
}

._list-bottom {
    transform: scale(-1,1);
}

@keyframes Orbita2 {
    from {
        transform: rotate(0deg)
                   translate(-5px) 
                   rotate(0deg);
}
to {
        transform: rotate(360deg)
                   translate(-5px)
                   rotate(-360deg);
} 
}
