@import '../../scss/variables.scss';

.header{
    position: relative;
    z-index: 100;
    &__bottom-line{
        width: 100%;
        height: 2px;
        background-color: $color-gold;
    }
}
.heder-pc {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    @media (max-width: 1260px){
        z-index: 2;
    }

    &__body{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        max-width: 1300px;
        margin: 0px auto 20px auto;
        position: relative;
    }

    // .heder-pc__left
    &__left {
        display: flex;
        column-gap: 20px;
        padding: 0px 0px 10px 0px;
        @media (max-width: 1260px){
            display: none;
        }
    }

    // .heder-pc__link
    &__link {
        font-family: "Mont";
        font-size: 18px;
        font-weight: 400;
        color: $color-text;
        @media (max-width: 1910px){
            font-size: calc(16px + 2 * (100vw - 1200px) / 710);
        }
        @media (max-width: 1260px){
            font-size: 16px;
        }
        &:hover{
            color: $color-gold;
        }
        &.target{
            color: $color-gold;
        }
    }

    // .heder-pc__logo
    &__logo img{
        object-fit: cover;
        height: 120px;
        width: auto;
        @media (max-width: 1200px){
            height: 100px;
        }
    }

    // .heder-pc__right
    &__right {
        display: flex;
        column-gap: 20px;
        padding: 0px 0px 10px 0px;
        @media (max-width: 1260px){
            display: none;
        }
    }
}

.burger {
    background-color: #D2B69570;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.3s ease;
    transition-delay: 0.7s;
    position: fixed;
    top: 120px;
    left: 20px;
    z-index: 2;
    margin: -70px 0px 20px 0px;
        &.fixed{
        top: 85px;
    }
    &.active{
        opacity: 0;
        visibility: hidden;
        transition-delay: 0s;
    }
    @media (max-width: 1200px){
        visibility: visible;
    }

    //burger__body
    &__body{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .burger__line
    &__line {
        width: 80%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.527);
        &::before {
            position: absolute;
            content: '';
            top: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 80%;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.527);
        }
        &::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 80%;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.527);
        }
    }
}

.menu-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    //background-color: rgba(255, 255, 255, 0.9);
    background:#fff url(../../resources/images/header/blur.jpg) 0 0 / cover no-repeat;
    background-position: 70% 0;
    //border-right: $color-gold 5px solid;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    transition: all 0.8s ease;
    max-width: 500px;
    box-shadow: 0px 5px 15px 25px rgba(0, 0, 0, 0.3);
    //По очереди: x, y, размытие, размер, цвет.


    border-radius: 0 30px 30px 0 / 0 40px 40px 0;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(132, 132, 132, 0.5);
        border-radius: 0 30px 30px 0 / 0 40px 40px 0;
    }
    &.active{
        left: 0;
    }
    
    &__close{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        border: #ba9f5a4c 3px solid;
        border-radius: 5px;
        &::before{
            content: '';
            position: absolute;
            top: 15px;
            left: 0;
            width: 35px;
            height: 3px;
            transform: rotate(45deg);
            background-color: #ba9f5a4c;
        } 
        &::after{
            content: '';
            position: absolute;
            top: 15px;
            left: 0;
            width: 35px;
            height: 3px;
            transform: rotate(-45deg);
            background-color: #ba9f5a4c;
        }
    }

    // .menu-mob__line
    &__line {
        padding: 0px 0px 30px 0px;
    }

    // .menu-mob__link
    &__link {
        font-family: 'Mont';
        font-size: 20px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
        &:hover{
            color: $color-gold;
        }
        &.target{
            color: $color-gold;
        }
    }
}

.activeLink {
    color: $color-gold;
}
