@import '../../scss/variables.scss';

.price-line {
    margin-top: 8px;

    width: 40%;
    height: 2px;
    background-color: var(--color-light-2);
}

.price-header {
    width: 100%;

    &__body{
        padding-bottom: 30%;
        position: relative;
        @media (max-width: 800px){
            padding-bottom: 70%;
        }
    }

    // .price-header__img
    &__img {
        & img{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position:  100% 100%;
            
            @media (max-width: 800px){
                object-position:  93% 100%;
            }
        }
    }

    &__corection {
        & img{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position:  100% 100%;
            
            @media (max-width: 800px){
                object-position:  25% 100%;
            }
        }
    }

    // .price-header__tape
    &__tape {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 10%;
        height: 100%;
        width: 30%;
        background-color: #746f69a3;
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 800px){
            width: 42%;
        }
    }

    &__h2 {
        font-family: 'Mont';
        line-height: 120%;
        font-size: clamp(13px, .8vw, 18px);
        letter-spacing: .5px;
        color: var(--color-light-2);
        font-weight: 400;
        text-align: center;
    }

    // .price-header__title
    &__title {
        margin-top: 8px;

        font-family: 'Mont';
        font-size: clamp(28px, 1.9vw, 44px);
        color: var(--color-light-2);
        font-weight: 400;
    }

    // .price-header__cash
    &__cash {
        margin-top: 8px;

        font-family: 'Mont';
        font-size: clamp(20px, 1.57vw, 36px);
        color: var(--color-light-2);
        font-weight: 400;
    }
}

.price-description{
    font-family: 'Mont';
    font-size: clamp(16px, 0.8vw, 18px);
    line-height: 140%;
    white-space: pre-line;
    color: var(--color-light-1);
    font-weight: 400;
    background-color: var(--color-bark-green__to__color-black-2);
    padding: 30px 30px 30px 30px;
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.paragraphs {
    flex: 0 1 45%;
    min-height: 140px;
    box-shadow: var(--color-shadow-one) 0px 0px 5px 1px, var(--color-shadow-two) 0px 0px 1px -1px;
    background-color: var(--color-bark-green__to__color-black-2);
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    &:hover {
        box-shadow: var(--color-shadow-one) 0px 0px 5px 5px, var(--color-shadow-two) 0px 0px 5px -1px;
        transform: rotate(1deg);
    }
    @media (max-width: 1350px){
        min-height: 160px;
    }
    @media (max-width: 1300px){
        min-height: 190px;
    }
    @media (max-width: 1100px){
        flex: 0 1 95%;
    }

    // .paragraphs__body
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1020px){
            flex-wrap: wrap;
        }
    }

    &__number {
        text-align: center;
        font-family: 'Mont';
        font-size: 37px;
        line-height: 140%;
        color: var(--color-light-2__to__color-orange);
        padding: 0px 10px 0px 20px;
        @media (max-width: 1020px){
            flex: 0 1 100%;
        }
    }

    &__info {
        font-family: 'Mont';
        font-size: 16px;
        line-height: 140%;
        color: var(--color-light-2);
        @media (max-width: 1020px){
            flex: 0 1 100%;
        }
        padding: 10px 10px 10px 10px;
        & span{
            font-weight: 500;
        }
    }
}

.img-corection {
    @media (max-width: 800px){
        object-position:  30% 100%;
    }
}