@import 'fonts';

*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    nav,footer,header,aside{display: block;}
    html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    input,button,textarea{font-family:inherit;}
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner {padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

#root{
    height: 100%;
    width: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--color-background);
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none; 
}

.main{
    flex: 1 1 auto;
    position: relative;
    z-index: 99;
}

.container{
    max-width: 1450px;
    overflow: hidden;
    margin: 0px auto;
    @media (min-width: 1921px) and (max-width: 2600px){
        max-width: 70vw;
    };

    @media (min-width: 2601px){
        max-width: 2400px;
    };

    
}

.container-main{
    max-width: 1600px;
    overflow: hidden;
    margin: 0px auto;
}

.add-wed-all{
    display: flex;
    flex-direction: column;
}


//= Theme                                                             

html {
    //: Фон 
    --color-background: #fff;
    --color-background-second: #f1ece7;
    --color-background-third: #4d5653;

    //: Акцентные цвета 
    

    //: Текст 
    --color-text: #3E616F;
    --color-text-light: #fff;
    --color-link: #2554b988;

    //: burger
    --color-burger-line: rgba(0, 0, 0, 0.699);
    --background-burger-line: #ffffff2b;
    --color-cross-close: #3E616F;;

    //: anime-meil
    --anume-background-color: rgba(0, 0, 0, 0.8);

    //: Тень 
    --color-shadow-one: rgba(50, 50, 93, 0.25);
    --color-shadow-two: rgba(0, 0, 0, 0.3);


    //: const 
    --color-gold: #ba9f5a;
    --const-focus: 250, 162, 115;
    --color-const-focus: rgb(var(--const-focus));
}

html[data-theme='dark'] {
    //: Фон 
    --color-background: #111111;
    --color-background-second: #1a1c1f;
    --color-background-third: #222628;

    //: Текст 
    --color-text: rgb(214, 214, 214);
    --color-link: #83a0de;
    //: burger
    --color-burger-line: rgba(var(--const-focus), .8);
    --background-burger-line: #ffffff2b;
    --color-cross-close: #faa273b6;
    //: Тень 
    --color-shadow-one: rgba(250, 162, 115, .3);
    --color-shadow-two: rgba(250, 162, 115, .3);
}













