.video {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px auto 20px auto;

    // .video__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px 10px;
    }

    // .video__item
    &__item {
        min-width: 370px;
        flex: 0 1 48%;
        
        & video {
            width: 100%;
        }
    }
}

.time {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
}
