.options {
    max-width: 1200px;
    margin: 20px auto 40px auto;

    // .options__text
    &__text {
        font-family: 'Mont';
        font-size: 18px;
        padding: 0px 20px 20px 20px;
        font-weight: 400;
        color: #3E616F;
        line-height: 140%;
    }
}